<ion-view view-title="Account settings">
  <ion-content ng-switch="status.loading">

    

    <!-- view has loaded -->
    <div ng-switch-when="false">

      <p class="center profile">
        <a ng-click="changeProfilePicture()">
           <img class="circle-profile" style="margin-left:auto;margin-right:auto;object-fit:cover;object-position: 50% 0%;" ng-src="{{currentUser1.profilePicture || 'img/avatar.gif'}}">
         </a>
      </p>

      <ion-list>
        
        <!-- Profile -->
        <ion-item class="item item-divider">
         Profile
          <span class="item-note">
            <ion-spinner ng-show="status.loadingProfile" class="spinner-small"></ion-spinner>
          </span>
        </ion-item>
        
        <ion-item ng-click="changeUsername()">
          Username
          <span class="item-note">
            {{ProfileData.meta.username}}
          </span>
        </ion-item>
<!--
        <ion-item ng-click="setProfile()">
          Edit Profile
        </ion-item>
-->
       
        <!-- ./ Profile -->
      
        <!-- Account -->
        <ion-item class="item item-divider">
          Account
        </ion-item>

        <ion-item ng-click="changeEmail()" ng-show="AuthData.provider == 'password'">
          E-mail
          <span class="item-note">
            {{AuthData.password.email}}
          </span>
        </ion-item>

        <ion-item ng-click="changePassword('change')" ng-show="AuthData.provider == 'password'">
          Password
          <span class="item-note">
            ***
          </span>
        </ion-item>

        <ion-item ng-click="unAuth()">
          Sign out
        </ion-item>
        <!-- ./ Account -->

      </ion-list>

    </div> <!-- ./ view has loaded -->
  </ion-content>
</ion-view>
