<ion-modal-view>
<!-- -->
  <ion-content scroll="false" class="login center padding" style="background-image: url('img/login_table.png');background-size:cover;min-height:100%;min-width:100%;height:auto;width:auto;">
    <h1 style="margin-top:18vh;color:white;font-size:-webkit-xxx-large;margin-bottom:0px;text-shadow: 0px 0px 5px #808080;">
      MealSteals
    </h1>
    <span style="color:white;text-shadow: 0px 0px 5px #808080;">
      For Business
    </span>

    <div class="list max-width-detector" style="margin-top:10vh;">
      <form ng-submit="doLogin()">
        <label class="item item-input" style="margin-bottom:10px;border:solid 1px rgb(185, 185, 185);border-radius:8px;">
          <input type="email" ng-model="loginData.userEmail" placeholder="E-mail">
        </label>
        <label class="item item-input" style="border:solid 1px rgb(185, 185, 185);border-radius:8px;margin-bottom:30px;">
          <input type="password" ng-model="loginData.userPassword" placeholder="Password">
        </label>
      </form>
      <button class="button button-block button-positive" ng-click="doLogin()">Log In</button>
        <div class="terms-alert keyboard-hide">
        <span>By logging in you agree to our</span> <button class="terms-link" ng-click="openTerms()">terms of service</button>
        </div>

    </div>
      
    <div class="row login-bottom keyboard-hide">
        <div class="col">
           <button class="button button-block button-clear" ng-click="signUp()" style="color:white;">Sign up</button>
        </div>
<!--        <button ng-click="noLogin()">Continue without loggin in</button>-->
        <div class="col">
<!--          <button class="button button-block button-clear" ng-click="changePassword('lost')" style="color:white;">Forgot password?</button>-->
          <button class="button button-block button-clear" ng-click="resetPasswordPopup()" style="color:white;">Forgot password?</button>
        </div>
      </div>

  </ion-content>
</ion-modal-view>
