<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Search</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeSearchBiz()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-model="filter.businessName" type="text" placeholder="Business Name (must capitalize)">
      </label>
      <label class="item item-input">
        <input ng-model="filter.city" type="text" placeholder="City (must capitalize)">
      </label>
      <ion-list>

          <ion-checkbox ng-model="filter.upgrade">Upgraded</ion-checkbox>
          <ion-checkbox ng-model="filter.controlled">Controlled Account</ion-checkbox>
          <ion-checkbox ng-model="filter.real">Real Only</ion-checkbox>
          <ion-checkbox ng-model="filter.fake">Fake Only</ion-checkbox>

      </ion-list>
      <div class="row" style="margin-top:10px;!important">
         <button ng-click="filterBusiness()" class="col button button-block button-positive">
          Filter
        </button>
        <button style="border:1px solid grey;" ng-click="clearFilter()" class="col button button-block button-light">
          Clear
        </button>
      </div>
        
    </div>
    
    
  </ion-content>
</ion-modal-view>