<!--<div class="fixed-background"></div>-->
<div style="z-index:99999999;" class="container-fluid fixed-background">
    <ul class="menu">
    <li><a href="#/home">home</a></li>
    <li ng-hide="loggedIn"><a href="#/login">login</a></li>
    <li ng-show="loggedIn"><a href="#/account">account</a></li>
  </ul>
	<div class="center-block">
		<div class="row" style="margin-top:15vh;text-align:center;">
				
			<a href="#/home">
                <img src="images/mealstealswhite.png" class="center-block" style="width:400px;max-width:80%;"/>
            </a>
            <div style="display:inline-flex;">
                <div>
                    
                    <button style="margin:20px;" class="btn btn-primary" ng-click="logout()" ng-hide="">Log Out</button>
                </div>
                <div>
                    <button style="margin:20px;" class="btn btn-primary" ng-click="displayOptions.accountTab='account'" ng-hide="">Change Credentials</button>
                </div>
            </div>
			
		</div>

		<div class="row center">
		<div class="col-md-4 center-block" style="float:none;padding: 5px 20px 40px 15px;margin-top:20px;">
			
            

            <form style="display:none;">
                <fieldset>
                    <legend>Profile</legend>

                    <label>
                        <span>Name:</span>
                        <input type="text" name="name" ng-model="profile.name"/>
                    </label>

                    <label>
                        <span>Email:</span>
                        <br />{{profile.email}}
                    </label>
                </fieldset>
            </form>
            
            <div style="display:inline-flex;background-color: white;padding: 10px;border-radius: 10px;" ng-show="displayOptions.accountTab=='account'">

                <form style="margin-right:20px;">
                    <fieldset>
                        <legend>Change Password</legend>

                        <label>
                            <span>Old Password:</span>
                            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
                        </label>

                        <label>
                            <span>New Password:</span>
                            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
                        </label>

                        <label>
                            <span>Confirm New Password:</span>
                            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
                        </label>

                        <button ng-click="changePassword(oldpass, newpass, confirm)" class="btn btn-danger">change password</button>

                        <p class="error" ng-show="err">{{err}}</p>
                        <p class="good" ng-show="msg">{{msg}}</p>
                    </fieldset>
                </form>

                <form style="margin-left:20px;">
                    <fieldset>
                        <legend>Change Email</legend>

                        <label>
                            <span>New Email:</span>
                            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
                        </label>

                        <label>
                            <span>Password:</span>
                            <input type="password" ng-keypress="clear()" ng-model="pass"/>
                        </label>

                        <button ng-click="changeEmail(pass, newEmail)" class="btn btn-danger">update email</button>

                        <p class="error" ng-show="emailerr">{{emailerr}}</p>
                        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
                    </fieldset>
                </form>
            </div>
            
		</div>
		</div>
	</div>
</div>




