<ion-modal-view style="z-index:999999;">

  <ion-content ng-switch="status.changePasswordMode" scroll="false" class="login center padding" style="background-image: url('img/login_table.png');background-size:cover;min-height:100%;min-width:100%;height:auto;width:auto;">

      <h1 style="margin-top:18vh;color:white;font-size:-webkit-xxx-large;margin-bottom:0px;text-shadow: 0px 0px 5px #808080;">
      MealSteals
    </h1>
    <span style="color:white;text-shadow: 0px 0px 5px #808080;">
      For Business
    </span>  
    <!-- SITUATION 1: Lost Password -->
    <div ng-switch-when="lost">
      <div class="list" style="margin-top:10vh;">
        <label class="item item-input login-input">
            <input type="email" ng-model="changePasswordData.userEmail" placeholder="Your current e-mail">
        </label>
        <label class="item" style="background-color: transparent;border: none;background-color:transparent;padding:0px;margin-top:10px;">
          <button class="button button-block button-positive" ng-click="resetPassword()">Reset password</button>
        </label>
        <button class="button button-block button-clear" ng-click="closeChangePassword()">Cancel</button>
      </div>
    </div>

    <!-- SITUATION 2: Change password -->
    <div ng-switch-when="change">
      <div class="list" style="margin-top:10vh;">
        <label class="item item-input">
          <input type="password" ng-model="changePasswordData.oldPassword"  placeholder="Old password">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="changePasswordData.newPassword" placeholder="New password">
        </label>
        
            <div class="row">
                  <button class="col button button-block button-positive" ng-click="doChangePassword()">Change password</button>
                  <button style="font-color:white;" class="col button button-block button-positive" ng-click="closeChangePassword()">cancel</button>
            </div>
        
        
      </div>
    </div>

  </ion-content>
</ion-modal-view>
