<ion-modal-view style="background-color:#f7f7f7;">
  <ion-header-bar style="background-color:#f2f2f2;">
      <button class="button button-clear btn-terms" ng-click="closeTerms()">Close</button>
  </ion-header-bar>
  <ion-content style="padding-bottom:60px;" has-bouncing="false" has-scroll="false">
      <ion-scroll class="terms" ng-style="{height:fuHeight-40 + 'px'}" direction="y">
      <strong>Terms and Conditions</strong>

          <div class="terms-div">By signing up and checking “agree to terms and conditions”, you acknowledge that you agree to MealSteals terms and conditions.  Terms and conditions is subject to change at anytime.  You will be notified in the profile page when there are changes.  You have the ability to revoke your MealSteals subscription at any time without any penalty.</div>
        
    
          <strong>Keypoints</strong> 
          
          <div class="terms-div">
              <ol type="1" class="terms-keypoints">
                  <li>Merchant, not MealSteals is responsible for all redemptions and customer service. </li> 
                  <li>Merchant is the only party that participates in deal posting.</li>
                  <li>Anyone posing as another merchant is committing identity theft and is subject to prosecution.</li>
                  <li>Users may post reviews about Merchant and deals.</li>
                  <li>It is the merchant’s responsibility to keep all login information secure, any fraudulent posting under their name is the Merchant’s responsibility.</li>
                  <li>MealSteals reserves the right to terminate or suspend accounts for any reason or no reason.</li>
                  <li>Terms and conditions are subject to change at at time</li>
              </ol>
          </div>

          <strong>Redemption</strong>

          <div class="terms-div">Merchant agrees to allow anyone with MealSteals loaded up on their phone or with printed MealSteal’s material to redeem deal actively posted.  It is not required, but it would be most beneficial for the merchant to request to see the “redemption screen”, as this will allow MealSteals to track redemption usage most effectively.  Merchant is solely responsible for all aspects of redemption (i.e. cost, customer service, etc.).  The deals start and expire when the Merchant chooses, it is the merchant’s responsibility to understand their deal and honor appropriately.  MealSteal’s sole contribution is connecting customers and merchants.  MealSteals is not liable for any barrier preventing redemption by consumers (i.e. server downtime).</div>

          <strong>Deals</strong>

          <div class="terms-div">Once a deal is posted, the Merchant is not able to delete the deal. If there is any suspicion of  fraudulent activity on the merchant’s behalf, email admin@mealsteals.com immediately.  However, there is no timeframe guaranteed in which MealSteal’s will correct the issue.  It is the merchant’s responsibility to prevent fraudulent activity.  MealSteals is not liable for any losses incurred due to fraudulent activity.  Active deals will post directly to the map via a map marker and then delete automatically from the map.</div>

          <strong>Subscription</strong>

          <div class="terms-div">Subscribing to and using MealSteals is completely free.  Merchants subscribed to MealSteals can post deals at any time, for any duration, at any rate.  Deals posted MUST not be offered on the common menu.  In short, deals must be deals. Happy hours are the only exception.  Deals posted must not offer anything illegal.  MealSteals reserves the right to terminate or suspend the merchant account for any reason or no reason.  To keep your account in good standing, follow all requirements and rules listed in this document.</div> 


          <strong>Termination</strong>
          <div class="terms-div">MealSteals reserves the right to temporarily suspend or terminate your account for any or no reason.  MealSteals also reserves the right to remove any deals posted for any or no reason.  MealSteals is not responsible for any form of loss incurred by profile suspension/termination or deal removal.  Criteria that is prohibited (but not limited to) is, fraud; misuse; inappropriate behavior; misrepresentation of self or deals; illegal activity.</div>  
      </ion-scroll>
      
  </ion-content>
<!--
    <div class="terms-agree">
        <button ng-click="agreeTerms()" class="button button-clear button-positive pull-right btn-terms">
            Agree
        </button>
      </div>
-->
    
</ion-modal-view>