<div>
    <div class="list">
        <div class="item item-nf item-avatar">
            <i class="ion-edit"></i>
            <h2>Edit deals</h2>
            <p>Make changes to existing deals to keep them more current</p>
        </div>

        <div class="item item-nf item-avatar">
            <i class="ion-android-checkmark-circle"></i>
            <h2>Verify deals</h2>
            <p>Have you used this deal lately? Verify it so other users know it's still valid</p>
        </div>
    </div>
</div>