<span>Patio</span>
<div class="row">
    Yes
    <input style="height:20px;" type="radio" ng-model="color.name" value="red">
    No
    <input style="height:20px;" type="radio" ng-model="color.name" ng-value="specialValue">
</div>
<span>Rooftop</span>
<div class="row">
    Yes
    <input style="height:20px;" type="radio" ng-model="color.name1" value="red">
    No
    <input style="height:20px;" type="radio" ng-model="color.name1" ng-value="specialValue">
</div>
<span>Vegan</span>
<div class="row">
    Yes
    <input style="height:20px;" type="radio" ng-model="color.name2" value="red">
    No
    <input style="height:20px;" type="radio" ng-model="color.name2" ng-value="specialValue">
</div>
<span>Games</span>
<div class="row">
    Yes
    <input style="height:20px;" type="radio" ng-model="color.name3" value="red">
    No
    <input style="height:20px;" type="radio" ng-model="color.name3" ng-value="specialValue">
</div>
    
  
<div class="popup-btn-container">
    <span style="color:gray;" class="button-popup"  ng-click="closeVerifyBizDetails()">Close</span>
    <span style="color:#0297ff;" class="button-popup"  ng-click="closeVerifyBizDetails()">Ok</span>
</div>
