

<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
<!--
      <ion-nav-back-button>
      </ion-nav-back-button>
-->

<!--
        <div class="search_drawer item item-input-inset" style="height:40px;background-color:#F1F1F1;border:none;">
            <label class="item-input-wrapper" style="border:solid 1px rgba(128, 128, 128, 0.4);background-color:white;">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <form ng-submit="searchBoxSubmit($event);storeSearch();">
                    <input type="search" placeholder="Food or Drink..." style="width:100%;color:#636363;height:25px;" ng-model="filterOptions.searchVal">
                    
                    
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
            </label>
            <button ng-model="filterOptions.searchVal" ng-click="filterOptions.searchVal='';clearAndAddMarkers();" style="background:none;border:none;font-size:small;color: rgba(0, 86, 255, 0.67);">Cancel</button>
            </div>
-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            
        </button>
      </ion-nav-buttons>
        
      <ion-nav-title>
        <div class="item item-input-inset" style="height:45px;background-color:transparent;border:none;">
            <label class="item-input-wrapper" style="border:solid 1px rgba(128, 128, 128, 0.4);background-color:white;">
                <i style="font-size:20px;" class="icon ion-ios-search-strong placeholder-icon"></i>
                <form ng-submit="searchBoxSubmit($event);storeSearch();">
                    <input type="search" placeholder="Search MealSteals" style="width:100%;color:#636363;height:25px;" ng-model="filterOptions.searchVal">
                    
                    
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
                
<!--                <i ng-click="filterOptions.searchVal='';clearAndAddMarkers();" style="font-size:20px;position:absolute;right:18px;" class="icon ion-ios-search-strong placeholder-icon"></i>-->
            </label>
<!--            <button ng-model="filterOptions.searchVal" ng-click="filterOptions.searchVal='';clearAndAddMarkers();" style="background:none;border:none;font-size:small;color: rgba(0, 86, 255, 0.67);">Cancel</button>-->
            </div>
          <button ng-click="filterOptions.searchVal='';clearAndAddMarkers();" style="color:#aaaaaa;font-size: 20px;position: absolute;right: 12px;top: 6px;z-index: 99999;" class="icon button-clear ion-close-circled"></button>
      </ion-nav-title>    
        
      <ion-nav-buttons side="right">
        <button ng-if="activeState=='deals'" class="button button-icon button-clear ion-clock" ng-click="clickedClockButton();toggleDrawer('timeshift');">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content style="background-color: whitesmoke;" scroll="false">
      <p ng-click="changeProfilePicture()" class="center profile" style="text-align:center;">
        
           <img ng-click="changeProfilePicture()" class="circle-profile" style="margin-left:auto;margin-right:auto;object-fit:cover;object-position: 50% 0%;" ng-src="{{currentUser1.profilePicture || 'img/avatar.gif'}}">
         
         <span style="color:grey;">{{currentUser.username}}</span>
      </p>    
      <ion-list class="navmmenu-list">
        <!-- 
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        See app.account
        -->
<!--
        <ion-item menu-close href="#/app/deals">
          Deals
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
--> 
        <ion-item class="navmenu-item item item-icon-left" menu-close href="#/app/deals" ng-click="goToMap();dealState()">
           <i class="icon icon-menu ion-ios-location"></i>
          Deals
        </ion-item>
        <ion-item class="navmenu-item item item-icon-left" menu-close href="#/app/favorites" ng-click="profileState()">
            <i class="icon icon-menu ion-person"></i>
          Profile
        </ion-item>
        
        <ion-item class="navmenu-item item item-icon-left" menu-close ng-click="rateApp()">
            <i class="icon icon-menu ion-iphone"></i>
          Rate MealSteals
        </ion-item> 
        <ion-item class="navmenu-item item item-icon-left" menu-close ng-click="feedback()">
            <i class="icon icon-menu ion-chatbox-working"></i>
          Feedback
        </ion-item> 
        <ion-item class="navmenu-item item item-icon-left" menu-close ng-show="currentUser!=undefined" menu-close href="#/app/account"  ng-click="accountState()">
            <i class="icon icon-menu ion-ios-gear"></i>
          Account
        </ion-item>
         <ion-item class="navmenu-item item item-icon-left" menu-close ng-show="currentUser==undefined" menu-close href="#/app/account" ng-click="accountState()">
             <i class="icon icon-menu ion-ios-gear"></i>
          Sign In
        </ion-item>
      </ion-list>
      <div class="row" style="position:absolute;bottom:0px;text-align:center;">
        <div ng-click="loadFacebook();" class="col">
            <i class="icon-menu-social icon ion-social-facebook"></i>
        </div>
        <div ng-click="loadTwitter();" class="col">
            <i class="icon-menu-social icon ion-social-twitter"></i>
        </div> 
        <div ng-click="loadInstagram();" class="col">
            <i class="icon-menu-social icon ion-social-instagram"></i>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

