
  <ion-content id="popup-ad" scroll="y" scrollbar-y="false" has-bouncing="false" has-header="false" hide-nav-bar="true" has-tabs="false" style="margin-bottom:0px;top:0px;background-color:white;">
    <div id="popup" style="">
        
         <div class="row" style="margin-bottom:15px;border-top:1px solid #fff;padding-top:15px;background-color:#e4e4e4;">
            <div style="text-align:center;" class="col col-100">
                <h4 style="text-align:center;color:rgb(62, 62, 62);margin-top:-5px;">{{thisAd.locName}}</h4>
                <span style="font-size:12px;color:#6b6b6b;" class="one-line"> {{thisAd.address}}</span>
             </div>
        </div>
        
        <div class="">
        <img id="" class="circle-popup" ng-src="{{thisAd.dealFullImage}}" style="margin-left:auto;margin-right:auto;object-fit:cover;object-position: 50% 0%;" />
        </div>
        
        <div class="row" style="border-top:1px solid #fff;padding-top:15px;">
            <div class="col col-100"><h4 style="text-align:center;color:rgb(62, 62, 62);margin-top:-5px;;margin-bottom:3px;">{{thisAd.name}}</h4></div>
        </div>
        
        <div class="row" style="border-top:1px solid #fff;">
            <div class="col col-100">
                <h5 style="text-align:center;color:rgb(62, 62, 62);margin-top:-10px;margin-bottom:15px;" ng-show="thisAd.daysOfWeek==undefined">
                    {{thisAd.startTime | date : 'fullDate'}}
                </h5>
<!--                <h6 style="text-align:center;color:rgb(62, 62, 62);margin-top:-5px;">{{thisAd.startTime | date : 'shortTime'}} - {{thisAd.endTime | date : 'shortTime'}}</h6>-->
                
                
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='yes' &&
                               thisAd.daysOfWeek.tuesday=='yes' &&
                               thisAd.daysOfWeek.wednesday=='yes' &&
                               thisAd.daysOfWeek.thursday=='yes' &&
                               thisAd.daysOfWeek.friday=='yes' &&
                               thisAd.daysOfWeek.saturday=='yes' &&
                               thisAd.daysOfWeek.sunday=='yes'
                               ">Everyday of the week!
                </h6>
                
                
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='yes' &&
                               thisAd.daysOfWeek.tuesday=='yes' &&
                               thisAd.daysOfWeek.wednesday=='yes' &&
                               thisAd.daysOfWeek.thursday=='yes' &&
                               thisAd.daysOfWeek.friday=='yes' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Monday - Friday
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='yes' &&
                               thisAd.daysOfWeek.sunday=='yes'
                               ">Saturday & Sunday
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='yes' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Mondays
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='yes' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Tuesdays
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='yes' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Wednesdays
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='yes' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Thursdays
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='yes' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Fridays
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='yes' &&
                               thisAd.daysOfWeek.sunday=='no'
                               ">Saturdays
                </h6>
                
                <h6 class="ad-day" ng-show="
                               thisAd.daysOfWeek.monday=='no' &&
                               thisAd.daysOfWeek.tuesday=='no' &&
                               thisAd.daysOfWeek.wednesday=='no' &&
                               thisAd.daysOfWeek.thursday=='no' &&
                               thisAd.daysOfWeek.friday=='no' &&
                               thisAd.daysOfWeek.saturday=='no' &&
                               thisAd.daysOfWeek.sunday=='yes'
                               ">Sundays
                </h6>
                
            
                
            </div>
        </div>
        
        <div style="width:90%;margin-left:auto;margin-right:auto;">
            <p style="text-align:center;font-size:smaller;color:rgb(80, 80, 80);font-style:italic;" ng-bind-html="thisAd.description"></p>
        </div>
        
        

        <div style="position:fixed;width:100%;height:50px;background-color:#e4e4e4;bottom:0;">
            <h5 style="text-align:center;color:rgb(62, 62, 62);font-size:17px;line-height:30px;">Today {{thisAd.startTime | date : 'shortTime'}} - {{thisAd.endTime | date : 'shortTime'}}</h5>
        </div>
<!--        <button ng-click="go('/deals/'+dealAd.$id,80);" class="btn positive">Deal</button>-->
    </div>
  </ion-content>

<!--
       

        <a href="#/ad-detail"><div ng-click="closeAd(thisAd);" style="background-color:white;width:100%;height:60px;border-top: solid #e4e4e4 1px;position:absolute;bottom:0px;text-align: center;font-size: x-large;line-height: 2.4;">

            <span style="color:#4b7fd8;">View Deal</span>
            </div></a>
-->

        <!--<div class="mg-image">
        <img id="deal-image" class="deal-detail-image" ng-src="{{deal.dealFullImage}}" style="width:100%;height:40vh;margin-left:auto;margin-right:auto;object-fit:cover;object-position: 50% 0%;" />
        </div>

        <div class="row" style="border-top:1px solid #fff;padding-top:15px;">
            <div class="col col-100"><h4 style="text-align:center;color:rgb(62, 62, 62);margin-top:-5px;">{{deal.name}}</h4></div>
        </div>



        <div style="width:90%;margin-left:auto;margin-right:auto;">
            <p style="text-align:center;font-size:smaller;color:rgb(80, 80, 80);font-style:italic;" ng-bind-html="deal.description"></p>
        </div>-->