<ion-modal-view class="background-login">
<!--
  <ion-header-bar class="bar-positive">
    <h1 class="title">Change password</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeChangePassword()"></button>
    </div>
  </ion-header-bar>
-->

  <ion-content scroll="false" ng-switch="status.changePasswordMode">

    <!-- SITUATION 1: Lost Password -->
    <div ng-switch-when="lost">
      <div style="padding:30px;margin-top:42vh;" class="list">
        <label class="item item-input item-normal-input">
            <i class="icon ion-person placeholder-icon"></i> 
            <input type="email" ng-model="changePasswordData.userEmail" placeholder="Your current e-mail">
        </label>
        
          <button style="padding:0px;" class="button button-block button-positive" ng-click="resetPassword()">Reset password</button>
        
          <button style="padding:0px;" class="button button-block button-clear" ng-click="closeChangePassword()">Cancel</button>
        
      </div>
    </div>

    <!-- SITUATION 2: Change password -->
    <div ng-switch-when="change">
      <div style="padding:30px;margin-top:36vh;" class="list">
        <label class="item item-input item-normal-input">
          <input type="password" ng-model="changePasswordData.oldPassword"  placeholder="Old password">
        </label>
        <label class="item item-input item-normal-input">
          <input type="password" ng-model="changePasswordData.newPassword" placeholder="New password">
        </label>
        
          <button style="padding:0px;" class="button button-block button-positive" ng-click="doChangePassword()">Change password</button>
        
        
          <button style="padding:0px;" class="button button-block button-clear" ng-click="closeChangePassword()">Close</button>
         
      </div>
    </div>

  </ion-content>
</ion-modal-view>
